*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-decoration: none;
    border: 4px solid rgba(241, 36, 36, 0.2);
    border-radius: 5px;
    outline: 8px;
    box-shadow: 5px;
}
.sub{
    display: flex;
    align-items: center;
    padding: 1;
}