*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
